.mdl-layout__content {
  width: 100%;
}
.mdl-tabs__tab {
  &.is-active {
    border-bottom: 2px solid #3f51b5;
  }
}

.demo-card-square.mdl-card {
  width: 100%;
  display: block;
  margin: 20px auto;

  .mdl-card__title {
    color: $color-text-primary;
    height: 270px;
  }
}
.price {
  float: right;
}
.mdl-list__item-secondary-content {
  white-space: nowrap;
  font-size: 13px;
  position: relative;
  margin-right: 10px;
  margin-top: 40px;
}
